@font-face {
    font-family: 'Silkscreen';
    src: url('path/to/slkscr.ttf') format('truetype'); /* 根据您的字体文件类型调整格式 */
  }
  .fontData{
    font-family: 'Silkscreen';
    src: url('path/to/slkscr.ttf') format('truetype'); /* 根据您的字体文件类型调整格式 */
  }